<section class="my-20">
    <div class="container mx-auto">
        <div class="row">
            <h2 class="title title-sm py-3 mb-5 text-primary text-opacity-80">Преимущества</h2>
            <p class="mb-5"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad aut, culpa distinctio
                doloremque
                dolores est facere inventore maiores mollitia natus nesciunt officia perferendis placeat praesentium
                quis reiciendis sunt veritatis.</p>
        </div>
    </div>
    <div class="block lg:overflow-hidden">
        <div class="banner top-20 relative lg:h-screen/3 bg-primary bg-opacity-10">

            <div class="container mx-auto">
                <div class="row">
                    <div class="lg:relative -top-20">
                        <div class="grid relative lg:grid-cols-3 grid-cols-1 gap-4 lg:my-10">

                            <div class="card bg-white group transition-all duration-150 hover:shadow-lg">
                                <div class="card-body text-center">
                                    <span class="icon icon-lg transition-all duration-300 group-hover:bg-secondary icon-primary my-4 icon-crown text-3xl"></span>
                                    <h3 class="card-title title-small">Заголовок</h3>
                                    <p class="card-text">Равным образом постоянный количественный рост
                                        и сфера нашей активности позволяет выполнять важные задания по разработке
                                        соответствующий условий активизации.
                                    </p>
                                </div>
                            </div>


                            <div class="card bg-white group transition-all duration-150 hover:shadow-lg">
                                <div class="card-body text-center">
                                    <span class="icon icon-lg transition-all duration-300 group-hover:bg-secondary icon-primary my-4 icon-star text-3xl"></span>
                                    <h3 class="card-title title-small">Заголовок</h3>
                                    <p class="card-text">Равным образом постоянный количественный рост
                                        и сфера нашей активности позволяет выполнять важные задания по разработке
                                        соответствующий условий активизации.
                                    </p>
                                </div>
                            </div>


                            <div class="card bg-white group transition-all duration-150 hover:shadow-lg">
                                <div class="card-body text-center">
                                    <span class="icon icon-lg transition-all duration-300 group-hover:bg-secondary icon-primary my-4 icon-shield text-3xl"></span>
                                    <h3 class="card-title title-small">Заголовок</h3>
                                    <p class="card-text">Равным образом постоянный количественный рост
                                        и сфера нашей активности позволяет выполнять важные задания по разработке
                                        соответствующий условий активизации.
                                    </p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>