<div class="banner banner-hero bg-fixed">
    <div class="container mx-auto">
        <div class="row">
            <div class="relative z-50">
                <h1 class="title title-xl py-3 text-white">Заголовок на баннер</h1>
                <h3 class="title title-sm py-3 text-white">Обычный заголовок</h3>

            </div>
            <a aria-label="scroll bottom" x-data @click="$scroll('#home')" href="#"
               class="icon icon-lg icon-arrow-b text-white text-4xl animate-bounce icon-transparent icon-hero">
            </a>
        </div>
    </div>


</div>