
<section id="contact" class="lg:relative top-20 ">

    <div class="banner lg:relative bg-contact  bg-opacity-10">
        <div class="contact-inner w-full">

            <div class="container mx-auto">
                <div class="row ">
                    <div class="flex w-full items-center justify-center">
                        <form class="form-block -top-20 z-50 relative group lg:w-1/2 bg-white border border-primary"
                              action="">
                            <div class="form-header">

                                <div class="flex items-center">

                                    <div>
                                        <span class="icon icon-sm transition-all duration-300 group-hover:bg-secondary group-hover:text-white icon-gray my-4 mr-5 icon-mail text-2xl"></span>
                                    </div>

                                    <div class="form-group">
                                        <h4 class="title title-sm font-bold text-primary">Свяжитесь с нами</h4>
                                        <span class="title-small">Наш менеджер вам перезвонит</span>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group mb-3">
                                <label class="label-input">Ваше имя</label>
                                <input class="input-lg" type="text" placeholder="Алексей">
                            </div>

                            <div class="form-group">
                                <label class="label-input">Номер телефона</label>
                                <input class="input-lg" type="text" placeholder="+7___ __ __">
                            </div>
                            <div class="form-footer">
                                <button class="btn btn-lg btn-secondary w-full">Отправить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-primary text-white p-5 z-50 relative">

        <div class="container mx-auto">
            <div class="footer-wrap justify-between items-center flex">

                <div class="flex">
                    <div>
                        <span class="icon icon-sm bg-black bg-opacity-40 border-white  mr-3 icon-marker text-2xl"></span>
                    </div>
                    <div class="flex flex-col">
                        <p class="pb-2">Адрес: г. Нур-Султан, ул. Толе би 40, НП-6</p>
                        <a rel="noopener nofollow" class="underline" target="_blank" href="https://go.2gis.com/pcho2h">Посмотреть
                            в тугис</a>
                    </div>
                </div>

                <div class="py-5 mr-5">

                    <div class="">
                        <a class="icon icon-sm icon-transparent border-white border border-opacity-30 icon-arrow-t text-2xl"
                           x-data @click="$scroll(0)" href="#">
                        </a>
                    </div>

                </div>


            </div>
        </div>
    </footer>
</section>
