
<nav class="navbar w-full fixed z-60 bg-primary text-white"

     :class="{ 'shadow-lg bg-primary border-b border-white border-opacity-20' : isOpen , 'bg-primary' : !isOpen}">

    <div class="container mx-auto">
        <div class="navbar-wrap ">
            <div class="navbar-wrap__item">
                <div class="flex justify-between">
                    <div class="navbar__logo p-5">Demfarm</div>

                    <button aria-label="menu" x-cloak @click="isOpen = !isOpen"
                            type="button"
                            class="shadow-xl bg-white bg-opacity-5 block lg:hidden px-2 text-gray-500 hover:text-white focus:outline-none focus:text-white"
                            :class="{ 'transition transform-180': isOpen }">

                        <div class="icon icon-lg text-3xl icon-close" x-show="isOpen"></div>
                        <div class="icon icon-lg text-2xl icon-burger" x-show="!isOpen"></div>

                    </button>
                </div>

                <ul x-cloak class="navbar-menu leading-loose bg-primary "
                    :class="{ 'block shadow-3xl': isOpen, 'hidden': !isOpen }"
                    @click.away="isOpen = false"
                    x-show.transition="true">
                    <li class="navbar-menu__item">
                        <a @click="$scroll('#home'), isOpen = false" class="navbar-menu__link" href="#">О нас</a>
                    </li>
                    <li class="navbar-menu__item">
                        <a @click="$scroll('#contact'), isOpen = false" class="navbar-menu__link" href="#">Услуги</a>
                    </li>
                    <li class="navbar-menu__item">
                        <a @click="$scroll('#partners'), isOpen = false" class="navbar-menu__link" href="#">Партнеры</a>
                    </li>
                    <li class="navbar-menu__item">
                        <a @click="$scroll('#contact'), isOpen = false" class="navbar-menu__link" href="#">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-wrap__item hidden justify-end">

                <div class="navbar-item mr-5">
                    <a href="">
                        +7761604911</a>
                </div>

                <div class="navbar-item">
                    <button type="button" @click="showModal = true"  class="btn btn-secondary btn-regular">Заказать звонок</button>


                </div>
            </div>
        </div>
    </div>
</nav>