<section id="partners" class="my-10 mb-20 lg:relative">
    <div class="container mx-auto">
        <div class="row">
            <div class="content">
                <div class="flex justify-between w-full items-center">
                    <h2 class="title title-sm text-primary text-opacity-80">Наши партнеры</h2>

                    <div class="slider-nav__wrap flex">

                        <a role="button" href="#" class="arrow-left mr-2 icon icon-sm text-primary icon-transparent border border-primary hover:bg-primary hover:text-white border-primary  border-opacity-20 icon-arrow-l text-2xl">
                        </a>

                        <a role="button" href="#"
                           class="arrow-right icon-arrow-r text-2xl icon icon-sm text-primary  icon-transparent border hover:bg-primary hover:text-white border-primary border-opacity-20">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Swiper -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide p-5 ">
                    <img class="lazy-loaded" src="https://via.placeholder.com/200x100" data-lazy-type="image"
                         data-src="https://via.placeholder.com/150" alt="Square placeholder image 300px">
                </div>
                <div class="swiper-slide p-5 ">
                    <img class="lazy-loaded" src="https://via.placeholder.com/200x100" data-lazy-type="image"
                         data-src="https://via.placeholder.com/150" alt="Square placeholder image 300px">
                </div>
                <div class="swiper-slide p-5 ">
                    <img class="lazy-loaded" src="https://via.placeholder.com/200x100" data-lazy-type="image"
                         data-src="https://via.placeholder.com/150" alt="Square placeholder image 300px">
                </div>
                <div class="swiper-slide p-5 ">
                    <img class="lazy-loaded" src="https://via.placeholder.com/200x100" data-lazy-type="image"
                         data-src="https://via.placeholder.com/150" alt="Square placeholder image 300px">
                </div>
                <div class="swiper-slide p-5 ">
                    <img class="lazy-loaded" src="https://via.placeholder.com/200x100" data-lazy-type="image"
                         data-src="https://via.placeholder.com/150" alt="Square placeholder image 300px">
                </div>
                <div class="swiper-slide p-5 ">
                    <img class="lazy-loaded" src="https://via.placeholder.com/200x100" data-lazy-type="image"
                         data-src="https://via.placeholder.com/150" alt="Square placeholder image 300px">
                </div>
            </div>
            <!--            <div class="pagination"></div>-->
        </div>
    </div>
</section>
